#reset {
    margin-left: 2em;
}

#dialog_screen {
    display: none;
    height: 100%;
    width: 100%;
}

.container {
    max-width: 80rem;

}

.site-wrapper {
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5) inset;
    display: table;
    height: 100%;
    min-height: 100%;
    width: 100%;
}

html, body {
    height: 100%;
}

div.navbar.navbar-fixed-bottom {
    min-height: 40px;
    background-color: rgba(94, 94, 94, 0.5);
}

#reset {
    margin-top: 3px;
}

.sighted-invisible {
    opacity: 0;
}

.top-btn {
    margin-top: 2em;
}

.reset-btn {
    float: right;
}

@keyframes example {
    from {
        /*opacity: 1.0;*/
        transform: scale(1.0, 1.0);
    }
    to {
        /*opacity: 0.8;*/
        transform: scale(0.8, 0.8);
    }
}

/* The element to apply the animation to */
.game-over {
    /*opacity: 0.8;*/
    transform: scale(0.8, 0.8);
    animation-name: example;
    animation-duration: 2s;
}

#game {
    z-index: 2;
}

.dialog-screen {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: rgba(255, 255, 255, 0.7);
}

.game-over-text {
    margin-top: 7em;
    text-align: center;
    color: brown;
    font-weight: bold;
}

.btn-restart {
    margin-top: 3em;
}

th {
    text-transform: capitalize;
}

.total {
}

.yield {
    color: green;
    text-transform: capitalize;
}

.upkeep {
    color: red;
    text-transform: capitalize;
}

.season-header {
    text-transform: capitalize;
}

.dialog-bottom-panel {
    height: 10em;
    padding: 2em;
}

#next {
    position:absolute;
    right: 2em;
    bottom: 1em;
}

#dialog-message {
    font-weight: bold;
}

.char-name {
    font-weight: bold;
    font-size: x-large;
    margin-top: -50px;
    margin-bottom: 20px;
}

#character1 {
    width: 18%;
    height: 20%;
    float:right;
}

label {
    text-transform: capitalize;
}

div.row {
    margin-bottom: 0.5em;
}

.food-item {
    color: #7f2b3f;
}

.wood-item {
    color: #7f5032;
}
.herb-item {
    color: #1fd801
}
.stone-item {
    color: #8e937b
}
