#reset {
    margin-left: 2em;
}

#dialog_screen {
    display: none;
}

.container {
    max-width: 80rem;

}

.site-wrapper {
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5) inset;
    display: table;
    height: 100%;
    min-height: 100%;
    width: 100%;
}

html, body {
    height: 100%;
}

div.navbar.navbar-fixed-bottom {
    min-height: 40px;
    background-color: rgba(94, 94, 94,0.5);
}

#reset {
    margin-top: 3px;
}

.sighted-invisible {
    opacity: 0;
}

.top-btn {
    margin-top: 2em;
}

.reset-btn {
    float: right;
}